@using TravelTripProje.Models.Siniflar
@model List<Blog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>BASLIK</th>
            <th>TARIH</th>
            <th>BLOGIMAGE</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Baslik</td>
                <td>@item.Tarih</td>
                <td>@item.BlogImage</td>
                <td><a href="/Admin/Sil/@item.ID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Admin/BlokGuncelle/@item.ID" class="btn btn-info">Güncelle</a></td>
                <td><a href="#" class="btn btn-default">Detay</a></td>
                
            </tr>
        }

    </table>
    <button class="btn btn-primary" onclick="location='/Admin/YeniBlok'">Ekle</button>
</div>

