
<div class="content-form">
    <h3>Bir Yorum Yapın</h3>
    
    <form  method="post">
        <input  name="Blogid" value="@ViewBag.deger" class="readonly="readonly required />
        <input type="text" placeholder="Kullanıcı Adı"name="Kullanici" required />
        <input type="text" placeholder="Mail Adresi" name="Mail" required />
        <textarea placeholder="Yorum" name="Yorum"></textarea>
        <input type="submit" value="Gonder" />
    </form>
</div>